# URL Backend Hugging Face ZeroGPU (Default: https://ilhamdev-rembg.hf.space)
NEXT_PUBLIC_HF_SPACE_URL=https://ilhamdev-rembg.hf.space

# Cloudflare Turnstile Configuration
# Dapatkan Site Key dan Secret Key gratis di Cloudflare Dashboard -> Turnstile
# Catatan: Jika dikosongkan saat dev lokal, sistem otomatis menggunakan Official Dummy Test Key Cloudflare.
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
